.btn {
    padding: 12px 15px; 
    font-family: Arial, sans-serif; 
    font-weight: bold;
    background: linear-gradient(30deg, rgb(120, 53, 182), rgb(118, 194, 116)); 
    color: #fff; 
    border: none;
}